{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<br>
  <h4 class="text-center">Academic Years</h4>
  <br>
  <hr>
<div class="row">
    <div class="col-sm-12 col-md-6 col-xl-3">
           
    </div>
      <div class="col-sm-12 col-md-6 col-xl-3 mx-auto">
           <a href="{% url 'add_academic_year' %}" class="btn btn-primary">Add Academic Year
               <li class="fas fa-plus"></li>
           </a>
           <span>
               <a href="{% url 'home' %}" class="btn btn-success">Go 
                <li class="fas fa-home"></li>
            </a>
           </span>
    </div>
      <div class="col-sm-12 col-md-6 col-xl-3">
         
    </div>
  
</div>
 
<hr class="height-3">
<div class="container">
<div class="row">
    <div class="col-md-3">

    </div>
    <div class="col-md-3 mx-auto">
        
            <ol>
                {% for year in object_list %}
                <li>{{ year.academic_year }}</li>
                {% endfor %}
            </ol>
        
    </div>
    <div class="col-md-3">
        
    </div>
</div>
<hr>
</div>
{% endblock content %}