{% extends "base.html" %}
{% load static %}

{% block content %}
  {% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
{% if user.is_authenticated %}
  <div class="container">
    <code>
            <h3 class="text-center"><b>Add Lecturer Profile</b> </h3>
                    <hr>
                </code>
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <br>
                    <button type="submit" class="btn btn-success btn-block btn-lg">Submit</button>
                </form>
                <br>
                <br>

          
  <script>
    var name = "{{ user.id }}";
    document.getElementById("username").value = name;
  </script>
    
</div>       

{% endif %}        
  
{% endblock content %}

{% endblock content %}