   {% extends "base.html" %}

   {% block content %}

{% if user.is_authenticated %}
  {% if user.is_superuser %}
     <div class="row">
       <div class="col-xl-3 col-md-6 mt-5">
                <div class="card text-white mb-4" style="background-color: maroon;">
                    <div class="card-body">
                        <h4>Lecturers</h4>
                        </div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white btn btn-success stretched-link" href="{% url 'lecturers' %}">See More!</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
         <div class="col-xl-3 col-md-6 mt-5">
                <div class="card text-white mb-4" style="background-color: maroon;">
                    <div class="card-body">
                        <h4>Departments</h4>
                        </div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white btn btn-success stretched-link" href="{% url 'departments' %}">See More!</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 mt-5">
                <div class="card text-white mb-4" style="background-color: maroon;">
                    <div class="card-body">
                        <h4>Semesters</h4>
                        </div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white btn btn-success stretched-link" href="{% url 'semesters' %}">See More!</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 mt-5">
                <div class="card text-white mb-4" style="background-color: maroon;">
                    <div class="card-body">
                        <h4>Programmes</h4>
                        </div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white btn btn-success stretched-link" href="{% url 'programmes' %}">See More!</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
   </div>
  <div class="row">
       <div class="col-xl-3 col-md-6 mt-5">
                <div class="card text-white mb-4" style="background-color: maroon;">
                    <div class="card-body">
                        <h4>Units</h4>
                        </div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white btn btn-success stretched-link" href="{% url 'units' %}">Explore!</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
         <div class="col-xl-3 col-md-6 mt-5">
                <div class="card text-white mb-4" style="background-color: maroon;">
                    <div class="card-body">
                        <h4>Academic Years</h4>
                        </div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white btn btn-success stretched-link" href="{% url 'academic_year' %}">Explore!</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 mt-5">
                <div class="card text-white mb-4" style="background-color: maroon;">
                    <div class="card-body">
                        <h4>Missing Marks Claims</h4>
                        </div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white btn btn-success stretched-link" href="{% url 'missing_marks' %}">Explore More!</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 mt-5">
                <div class="card text-white mb-4" style="background-color: maroon;">
                    <div class="card-body">
                        <h4>Add Missing Marks</h4>
                        </div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white btn btn-success stretched-link" href="{% url 'create_missing_mark' %}">Add Missing Marks</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
   </div>
  

  {% endif %}
   {% if user.student.id %}
        <div class="row">
            <div class="col text-center mt-5">
                 <a href="{% url 'profile' %}" class="btn btn-info">View Profile
                <li class="fas fa-user"></li>
            </a>
            </div>
        </div>
        {% elif user.lecturer.id %}
        <div class="row">
            <div class="col text-center mt-5">
                <a href="{% url 'lecturer_profile' %}" class="btn btn-info">View Lecturer Profile
                <li class="fas fa-user"></li>
            </a>
            </div>
        </div>
        {% else %}
           <div class="row">
            <div class="col text-center mt-5">
                <a href="{% url 'create_student' %}" class="btn btn-info">Create Student Profile
                <li class="fas fa-user"></li>
            </a>
            </div>
        </div>
         <div class="row">
            <div class="col text-center mt-5">
                <a href="{% url 'add_lecturer' %}" class="btn btn-info">Create Lecturer Profile
                <li class="fas fa-user"></li>
            </a>
            </div>
        </div>
   {% endif %}



{% else %}
    <div class="row">
    <div class="col text-center mt-5">
         <a href="{% url 'register' %}" class="btn btn-info">Create Account
        <li class="fas fa-user"></li>
    </a>
     <a href="{% url 'login' %}" class="btn btn-primary">Login
        <li class="fas fa-angle-right"></li>
    </a>
    </div>
</div>
{% endif %}
<br>
<br>
{% endblock content %}